name: CI

on:
  push:
  pull_request:

jobs:
  linux:
    name: Linux Perl ${{ matrix.perl }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl: ['latest','5.36']
    steps:
      - uses: actions/checkout@v4
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - name: Install deps
        run: cpm install -g
      - name: Build
        run: perl Makefile.PL
      - name: Test
        run: prove -lv
  windows:
    name: Windows latest Perl
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: 'latest'
      - name: Install deps
        run: cpm install -g
      - name: Build
        run: perl Makefile.PL
      - name: Test
        run: prove -lv
  macos:
    name: macOS latest Perl
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: 'latest'
      - name: Install deps
        run: cpm install -g
      - name: Build
        run: perl Makefile.PL
      - name: Test
        run: prove -lv
